.px-21 {
	padding-left: 21px;
    padding-right: 21px;
}

.game-main-header {
	background: #565656;
	color: white;
	padding-top: 21px;
	padding-bottom: 21px;
}

.game-main-header > div > img {
	height: 160px;
}

.game-info {
	background: #f4f4f4;
	overflow:overlay;
	position: relative;
}

.game-info-img {
	height: 160px;
}

.game-info-text {

}